{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-react-jsx-source",
    "transform-react-jsx-self",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
